.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.conatiner{
  width: 80vw;
  height: 80%;
  margin: 0 auto;
  border: 2px solid;
  background-color:aqua;
  border-radius: 20px;
  margin-top: 20px;
  padding: 30px;
  /* overflow-y: scroll; */
}
.inputBox {
  display: flex;
  margin-top: 20px;

}
.inputBox-terms {
  display: flex;
  margin-top: 20px;

}
.inputBox label{
  min-width: 100px;
  font-size: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.submitBtn{
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(52, 226, 134);
  width: 200px;
  font-size: 20px;
  border: none;
  margin-top: 20px;
  text-align: center;
  
}
.inputFeild{
  width: 200px;
}
.label-terms{
  font-size: 16px;
}

@media screen and (max-width : 400px) {
  .conatiner{
    max-width: 70%;
  }
  .inputBox label{
    font-size: 15px;
  }
  .inputFeild{
    width: 160px;
  }
  .submitBtn{
    width: 160px;
    font-size: 15px;
  }
  .label-terms{
    font-size: 13px;
  }
  .inputBox{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
  
  }
  
}
